@import 'variables';
@import 'mixins';

.about{
    @include sectionGap;

    &__title{
        @include sectionTitle(#7C0F55);
    }  

    &__container{

        @media (min-width: 996px){
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .about__description{
            margin: $margin-mobile;
            text-align: justify;

            @media (min-width: 781px){
                margin-left: $margin-desktop;
                margin-right: $margin-desktop;
            }
            @media (min-width: 996px){
                flex-basis: 50%;
            }

            .about__text{
                margin-top: 15px;
                font-size: 1.6rem;
                transform: translateX(-300px);
                opacity: 1;
            }
        }

        .about__image-container{
            margin: $margin-mobile;
            display: flex;
            justify-content: center;

            @media (min-width: 781px){
                margin-right: $margin-desktop;
                margin-left: $margin-desktop;
            }

            @media (min-width: 996px){
                flex-basis: 50%;
                justify-content: flex-end;
            }

            img{
                width: 100%;
                max-width: 450px;
                border-radius: 50%;
                border: 2px solid $hover-color;
            }
        }
    }

}