@import 'variables';
@import 'mixins';

.menu{
    @media (min-width: 781px){
        display: flex;
        justify-content: center;
        background-color: $special-bgc-color;
        height: 8vh;
        width: 100%;
    }

    &__burger{
        position: fixed;
        top: 20px;
        right: 20px;
        width: 35px;
        height: 35px;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        z-index: 2;

        @media (min-width: 781px){
            display: none;
        }
    
        span{
            position: relative;
            display: block;
            height: 6px;
            background-color: white;
            border-radius: 5px;
            transition: .5s;
    
            &.hide{
                opacity: 0;
            }
    
            &.rotate:nth-of-type(1){
                transform: rotate(45deg) translate(4px, -2px);
                transform-origin: left;
            }
    
            &.rotate:nth-of-type(3){
                transform: rotate(-45deg) translate(5px, 2px);
                transform-origin: left;
            }
        }
    }

    &__list{
        position: fixed;
        left: -100%;
        height: 100vh;
        width: 80%;
        background-color: #F9F9F9;
        z-index: 1;

        transition: all 1s;

        &.active{
            left: 0
        }

        @media (min-width: 791px){
            position: fixed;
            left: auto;
            top: 0;
            height: 8vh;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            max-width: 1600px;
            background-color: $special-bgc-color;

            margin: 0 auto;
            transition-property: top;
            transition-duration: .5s;

            &--hidden{
                top: -8vh
            }

            &.active{
                left: auto;
            }
        }


        .menu__name{
            display: none;

            @media(min-width: 781px){
                display: block;
                position: absolute;
                left: 10px;
                font-size: 2.5rem;
                font-weight: bold;
                font-family: $special-font-family;
                color: cyan;

                span:nth-of-type(1){
                    display: inline-block;
                    transform: translate(-10px, 3px);
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: orange;
                }

                span:nth-of-type(2){
                    display: inline-block;
                    transform: translate(-20px, 3px);
                    width: 15px;
                    height: 5px;
                    background-color: $hover-color;
                }
            }

            @media (min-width:1024px){
                margin-left: $margin-desktop;
            }
        }

        .menu__element{
            color: $special-font-color;
            margin-top: 10px;
            margin-bottom: 30px;
            margin-left: 10px;

            @media (orientation: landscape) and (max-width: 791px){
                margin-bottom: 15px;
             }

            @media (min-width: 781px){
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 30px;
                color: $basic-font-color;
                transition: .3s;

                &:hover{
                    color: $hover-color
                }
            }


            .menu__number{
                font-size: 1.1rem;

                @media(min-width: 1024px){
                    font-size: 1.3rem;
                }

                @media (orientation: landscape) and (max-width: 791px){
                   font-size: 1rem;
                }
            }

            .menu__item{
                font-size: 1.4rem;

                @media(min-width: 1024px){
                    font-size: 1.5rem;
                    font-weight: lighter;
                }

                @media (orientation: landscape) and (max-width: 791px){
                    font-size: 1.2rem;
                 }

                .menu__link{
                    color: $special-font-color;
                    text-decoration: none;
                    cursor: pointer;
            
                    @media(min-width: 781px){
                        color: $basic-font-color;
                        transition: .3s;

                        &:hover{
                           color: $hover-color
                        }
                    }

                    @media (min-width: 991px){
                        letter-spacing: 2.5px
                    }
                }
            }
        }

        .menu__resume{
            @include btn;
            display: inline-block;
            margin-top: 10px;
            padding: 7px 12px;
            font-size: 2rem;
            margin-left: 5px;

            text-decoration: none;
            cursor: pointer;

            @media (orientation: landscape) and (max-width: 791px){
                font-size: 1.2rem;
                margin-top: 5px;
                padding: 4px 8px;
             }

            @media(min-width: 781px){
                margin-left: 50px;
                margin-right: 10px;
                margin-top: 0;
            }

            @media (min-width:1024px){
                margin-right: $margin-desktop;
            }
        }

        .menu__contacts{
            position: absolute;
            bottom: 25%;
            width: 100%;
            display: flex;
            justify-content: center;

            @media (min-width: 781px){
                position: fixed;
                flex-direction: column;
                bottom: 50%;
                transform: translateY(50%);
                left: 0px;
                width: 50px;
                background-color: $special-bgc-color;
                text-align: center;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                border: 2px solid white;
                border-left: none;
                animation: menuContactsMove 1s both;

                &:hover{
                    border-color: $hover-color;
                }
            }

            i{
                color: $special-font-color;
                font-size: 2.5rem;
                margin: 0px 20px;

                @media (min-width: 781px){
                    color: white;
                    margin: 10px 0;
                    transition: .3s;

                    &:hover{
                        transform: scale(1.3);
                    }
                }
            }
        }
    }
}

@keyframes menuContactsMove{
    0%{
        left: -100px
    }
    100%{
        left: 0;
    }
}



