@import 'variables';
@import 'mixins';

.projects{
    @include sectionGap;

    &__title{
        @include sectionTitle(#2C49D8);
    }

    &__container{
        margin: 25px $margin-mobile;
        animation: showProjects 1.5s both;

        @media (min-width: 781px){
            margin: 45px $margin-desktop;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 50px;
        }

        @media (min-width: 991px){
            grid-template-columns: 1fr 1fr 1fr;
        }


        .projects__element{
            overflow: hidden;
            margin-bottom: 50px;
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
            background-color: $special-bgc-color;
            transition: .3s;

            @media (min-width: 991px){
                width: 100%;
                margin: 0 auto;
            }

            &:hover .projects__info .projects__details .projects__type{
                transform: scaleX(0)
            }
            &:hover .projects__info .projects__details .projects__show-more{
                transform: scaleX(1)
            }

            .projects__image-container{
                overflow: hidden;

                .projects__image{
                width: 100%;
                height: 250px;
                transition: .3s;
                filter: grayscale(0.7);
                
                    &:hover{
                        transform: scale(1.1);
                        filter: grayscale(0);
                    }
                }
            }

            .projects__info{
                height: 80px;
                display: flex;
                flex-direction: column;

                .projects__subtitle{
                    margin-left: 25px;
                    font-size: 2rem;
                    font-family: $special-font-family;
                    margin-top: 10px;
                    color: $basic-font-color;
                }
                .projects__details{

                    .projects__type, .projects__show-more{
                        position: absolute;
                        color: rgba($basic-font-color, $alpha: .5);
                        font-size: 1.6rem;
                        margin-left: 25px;
                        transition: .3s;
                        transform: scaleX(1);
                        transform-origin: right ;
                    }

                    .projects__show-more{
                        transform: scaleX(0);

                        &::after{
                            position: relative;
                            top: -3px;
                            margin-left: 10px;
                            content: "";
                            display: inline-block;
                            width: 30px;
                            height: 1px;
                            background-color: rgba($basic-font-color, $alpha: .5);
                        }
                    }
                }
            }
        }
    }

    &__more {
        text-align: center;
        font-size: 1.3rem;
        margin: 0 $margin-mobile;
        a{
            color: $hover-color
        }
    }
}

@keyframes showProjects{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}